<nz-dropdown [nzPlacement]="'bottomRight'">
  <div class="item d-flex align-items-center px-sm" nz-dropdown>
    <nz-avatar [nzSrc]="'./assets/img/avatar.png'" [nzShape]="'square'"  class="mr-sm"></nz-avatar>
    {{settings._user}}
  </div>
  <div nz-menu class="width-sm">
    <div nz-menu-item (click)="installRTData()">
      <i class="anticon anticon-setting mr-sm"></i>安装运行数据</div>
    <div nz-menu-item (click)="logout()">
      <i class="anticon anticon-setting mr-sm"></i>退出登录</div>
  </div>
</nz-dropdown>