
:host ::ng-deep {
    .expanded-card .ant-card-body {
        padding: 12px 0px;
        display: block;
    }
    .collapsed-card .ant-card-body {
        padding: 12px 0px;
        display: none;
    }
}

:host {
    padding: 0px 0px 12px 0px !important;
    .titleBar {
        cursor: pointer;
    }
}