<nz-card [nzBordered]="false" [class.expanded-card]="titleBarState" [class.collapsed-card]="!titleBarState" [nzTitle]="ctrl.showCaption ? grouptitle : ''">
    <ng-container  *ngTemplateOutlet="template; context: context"></ng-container>
</nz-card>
<ng-template #grouptitle>
    <span *ngIf="ctrl.titleBarCloseMode !== 0" (click)="toggleCollapsed()" class="titleBar">
        <i class="anticon" [class.anticon-down]="titleBarState" [class.anticon-right]="!titleBarState"></i>
        &nbsp;
    </span>
    <span>{{ctrl.caption}}</span>
</ng-template>
