
:host ::ng-deep {
    .expanded-card .ant-card-body {
        display: block;
    }
    .collapsed-card .ant-card-body {
        display: none;
    }
}

:host {
    padding: 0px 6px 12px 6px !important;
    .titleBar {
        cursor: pointer;
    }
}