<nz-upload nzAction="https://jsonplaceholder.typicode.com/posts/" nzListType="picture-card" [(nzFileList)]="fileList" [nzShowButton]="fileList.length < 3"
    [nzPreview]="handlePreview">
    <i class="anticon anticon-plus"></i>
    <div class="ant-upload-text">Upload</div>
</nz-upload>
<nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
    <ng-template #modalContent>
        <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
    </ng-template>
</nz-modal>

<!-- <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload">
    <button nz-button>
        <i class="anticon anticon-upload"></i><span>Select File</span>
    </button>
</nz-upload>
<button nz-button [nzType]="'primary'" [nzLoading]="uploading" (click)="handleUpload()" [disabled]="fileList.length == 0"
    style="margin-top: 16px">
    {{ uploading ? 'Uploading' : 'Start Upload' }}
</button> -->