<div [ngStyle]="styleCss">
<nz-upload [nzAction]="url" nzListType="picture-card" [(nzFileList)]="fileList" [nzShowButton]="fileList.length < 9" [nzPreview]="handlePreview"
    (nzChange)="handleChange($event)" [nzRemove]="remove" [nzDisabled]="disabled">
    <i class="anticon anticon-plus"></i>
    <div class="ant-upload-text">上传图片</div>
</nz-upload>
<nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
    <ng-template #modalContent>
        <div style="position:relative" >
            <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
            <div class="ibiz_data_icon"><i class="anticon anticon-download"  (click)="downloadImg()"></i></div>
            <div class="ibiz_data_popDownload"  ></div>
        </div>
    </ng-template>
</nz-modal>
</div>