<div class="logo" [class.collapsed]="isCollapsed" [class.expanded]="!isCollapsed">
    <a [routerLink]="['/']">
        <ng-container *ngIf="!isCollapsed">
            <img src="./assets/img/logo-full.png" class="nav-logo-full"/>
        </ng-container>
        <ng-container *ngIf="isCollapsed">
            <img src="./assets/img/logo.png" class="nav-logo" />
        </ng-container>
    </a>
</div>
<div class="top-nav-wrap">
    <ul>
        <li (click)="toggleCollapsed()">
            <div class="item">
                <ng-container *ngIf="!isCollapsed">
                    <i class="anticon anticon-menu-fold nav-css-ico"></i>
                </ng-container>
                <ng-container *ngIf="isCollapsed">
                    <i class="anticon anticon-menu-unfold  nav-css-ico"></i>
                </ng-container>
            </div>
        </li>
    </ul>
    <ul class="nav-user-info">
        <li>
            <div class="item">
                <app-user></app-user>
            </div>
        </li>
    </ul>
</div>